@charset "ISO-8859-1";

header {
	width: 100%;
	height: 100px;
	background: rgb(200, 21, 21); /* fallback for old browsers */
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

.logo img {
	width: 165px;
	height: 85px;
	display: flex;
	align-items: center;
	padding: 8px;
}

.label {
	list-style: none;
	font-weight: bold;
	font: oblique bold 120% cursive;
	color: white;
}

.label1 {
	position: absolute;
	top: -10px; /* y */
	left: 250px; /* x */
}

.label2 {
	position: absolute;
	top: -10px;
	left: 500px;
}

.label3 {
	position: absolute;
	top: -10px;
	left: 750px;
}

.botonsalir {
	position: absolute;
	top: 25px;
	left: 1030px;
	width: 150px;
	height: 50px;
	font-size: 1.2rem;
	border-radius: 30px;
}

.recuadro {
	background-color: #ccc;
	border: 2px solid #000;
	width: 1000px;
	height: 200px;
	position: absolute;
	top: 480px;
	left: 120px;
	border-radius: 15px;
}

.carta1 {
	width: 140px;
	height: 170px;
	position: absolute;
	top: 21px;
	left: 35px;
	border-radius: 6px;
}

.carta2 {
	width: 140px;
	height: 170px;
	position: absolute;
	top: 21px;
	left: 230px;
	border-radius: 6px;
}

.carta3 {
	width: 140px;
	height: 170px;
	position: absolute;
	top: 21px;
	left: 420px;
	border-radius: 6px;
}

.carta4 {
	width: 140px;
	height: 170px;
	position: absolute;
	top: 21px;
	left: 620px;
	border-radius: 6px;
}

.carta5 {
	width: 140px;
	height: 170px;
	position: absolute;
	top: 21px;
	left: 820px;
	border-radius: 6px;
}

.carta1:hover {
	opacity: 0.5;
}

.carta2:hover {
	opacity: 0.5;
}

.carta3:hover {
	opacity: 0.5;
}

.carta4:hover {
	opacity: 0.5;
}

.carta5:hover {
	opacity: 0.5;
}

.retroceder {
	position: absolute;
	border-radius: 3px;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	top: 425px;
	left: 510px;
}

.retroceder img {
	vertical-align: middle;
	margin-right: 5px;
}

.consultar {
	position: absolute;
	border-radius: 3px;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	top: 425px;
	left: 590px;
}

.consultar img {
	vertical-align: middle;
	margin-right: 5px;
}

.continuar {
	position: absolute;
	border-radius: 3px;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	top: 425px;
	left: 670px;
}

.continuar img {
	vertical-align: middle;
	margin-right: 5px;
}

.opciones {
	width: 20;
	height: 40px;
}

.opciones img {
	width: 20;
	height: 40px;
}

.mazo {
	position: absolute;
	width: 210;
	height: 210px;
	top: 175px;
	left: 540px;
	border-radius: 10px;
}

.mazo img {
	width: 210;
	height: 210px;
}

.jugador {
	position: absolute;
	top: 118px;
	left: 520px;
	font-weight: bold;
}

.aleatorio {
	position: absolute;
	width: 210px; /*ancho*/
	height: 270px; /*alto*/
	top: 155px;
	left: 850px;
	border-radius: 20px;
}

.panelprincipal {
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	width: 1150px;
	height: 585px;
	top: 120px;
	left: 40px;
}

.panelprincipal img {
	width: 1150px;
	height: 585px;
}

.numcartas {
	/*background: #95A5A6;  */
	position: absolute;
	width: 220px;
	height: 80px;
	left: 165px; /* x */
	top: 210px; /* y */
	color: black;
	border-radius: 10px;
	list-style: none;
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	font-weight: bold;
}

