@charset "UTF-8";
/* Diseño index */

/* PANTALLA CARGA */
.img-esquina {
	position: absolute;
	top: 0;
	left: 0;
}

#loader {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

#loader img {
	width: 100%;
	height: 100%;
}

/* FORMULARIO */
body {
	background: #ED213A; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #93291E, #ED213A);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #93291E, #ED213A);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

form {
	width: 720px;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	padding: 30px;
	border-radius: 40px;
}

.form-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

table {
	border-collapse: separate; /* separar los bordes */
	border-spacing: 50px; /* establecer la distancia entre los bordes */
}

td {
	margin-right: 10px; /* establecer margen entre los td */
	padding: 10px; /* añadir espacio entre el contenido y el borde */
}

td:last-child {
	margin-right: 0; /* quitar el margen del último td */
}

.table-container {
	margin-left: 50px;
	/* ajusta el valor de margen según tus necesidades */
}

.titulo{
	font-family: daytona;
	font-weight: lighter;
}

.subtitulos {
	font-weight: bold;
	font-size: 20px;
	padding: 10px;
	padding-right: 50px;
	font-family: cursive;
}

.field {
	width: 70%;
	font-size: 25px;
	border-radius: 10px;
	border: 3px solid black;
	font-size: 20px;
}

.button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: white;
	background-color: #EE1E1E;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px black;
}

.button:hover {
	background-color: black;
}

.button:active {
	background-color: black;
	box-shadow: 0 5px black;
	transform: translateY(4px);
}